{% extends 'layout.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block cuerpo %}
    <a href="{% url 'store:inicioStore' %}" class="btn btn-outline-info ml-5 mr-2"><i
            class="fa fa-arrow-left"></i> Volver</a>
    <a href="{% url 'register' %}" class="btn btn-outline-warning align-center"><i
            class="fa fa-sign-in"></i> Registrarse</a>
    <div class="container">
        <h2 class="text-center"> Login</h2>
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
                <div class="input-container">
                    <div class="input-container">
                        <input type="submit" value=" Guardar" class="btn btn-outline-dark mr-5 fa fa-save"
                               aria-label="Close">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}



